 @import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins:wght@300&family=Rubik+Gemstones&family=Satisfy&family=Whisper&display=swap');  /*making  the font available*/
 :root {
  --primary: rgb(45, 149, 150, 1);
  --heading-font-style: "Outfit", monospace;
} 


* {
  margin: 0;      /*initially keeping 0 for margin and padding so it doesn't affect our css for next  elements*/
  padding: 0;      /*initially keeping 0 for margin and padding so it doesn't affect our css for next  elements*/
  font-family: var(--heading-font-style);
}
body {
  box-sizing: border-box;   /*making border box  the default*/
}
header {
  height: 100px;   /* Header fixed height */
}

.container {
  width: 80%;
  height: 100px;    /*iheight is 100px for container  and header to match*/
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;   /*containing space  between items*/
  align-items: center;
}

#overlay {
  height: calc(100vh - 200px);    /*calculating using calc*/
  width: 100vw;
  position: relative;   /*position relative for  absolute child*/ 
}
.img-div {
  width: 100%;    /*img div width is of full 100% for full image*/
  height: 100%;  /*img div height is of full 100% for full image*/
  overflow: hidden;
}
.img-div img {
  width: 100%;
  height: 100%;
  object-fit:cover;   /*keeping it cover  even if image is not square*/
  /* object-position: calc(100% + 100%) center; */
  object-position: right bottom;  
  
}
.text-bg-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    to bottom left,
    rgb(45, 149, 150, 0.8),
    rgb(154, 208, 194, 0.8)
  );
}
.adventures {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#title {
  color: white;     /*title color is white bcs it looks better on bg color*/
  font-size: 80px;
  font-weight: 200;
  letter-spacing: 5px;
  text-align: center;
  animation: moveInLeft 1s ease-in-out;   /*1s ease out to make animaton look better*/
}

.para {
  font-size: 25px;
  color: white;
  letter-spacing: 3px;
  animation: moveInRight 1s ease-in-out;     /*1s ease out to make animaton look better*/
}

.click-button {
  padding: 10px 25px;
  font-size: 15px;
  color: var(--primary);
  border-radius: 25px;
  background-color: white;
  border: none;
  cursor: pointer;
  display: inline-block;
  transition: all 0.5s;
  margin-top: 15px;
  animation: moveInButton 0.5s ease-out 0.75s;  
  animation-fill-mode: backwards;
}
.click-button:hover {
  transform: translateY(-3px);   
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.popup {
  width: 250px;
  height: 280px;
  background-color: whitesmoke;   /*background color is white bcs it looks better image*/
  position: absolute;
  top: 0;
  left: 50%;
  /* transform: translate(-50%, -50%) scale(0.1); */
  text-align: center;
  padding: 0 30px 30px;
  color: rgb(82, 126, 207);
  border-radius: 25px;     /*keeping border radius for circular look of button*/
  display: none;
  /* transition: transform 0.8s, top 0.8s; */
  transition: ease-in-out 2s;
  z-index: 5; 
}
.open-popup {
  display: block;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.popup img {
  padding-top: 20px;
  width: 100px;
  margin: auto;
}
.popup h2 {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 0px;
}
.popup button {
  width: 100%;
  margin-top: 30px;   
  padding: 10px 20px;    
  background: rgb(82, 126, 207);
  color: white;
  border-radius: 25px;
  font-size: large;
  font-weight: 600;
  z-index: 10;
  cursor: pointer;
  text-align: center;
  border: 2px solid #3e75b0;
}

footer {
  height: 100px;        /* Footer fixed height */
  background-color: var(--white);
  margin-top: 0px;   /* Margin giving 0px space to the footer from top */ 
  display: flex;
  justify-content: center;
  align-items: center;
}
/* footer {
  height: 100px;
  background-color: var(--white);
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.footer p:nth-child(1) {
  color: var(--primary);
}
/* Media Queries */

@media screen and (max-width: 768px){
  #overlay{
    text-align: center;   /*keeping it center for bigger screen*/
  }
  #title{
    font-size: 35px;       /*keeping it bigger px for bigger screen*/
  }
  .para {
    font-size: 22px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 450px) {
  #title {
    font-size: 30px;  /*keeping it center for medium screen*/
  }
  .para {
    font-size: 20px;  /*keeping it smller px for medium screen*/
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 300px) {
  #overlay {
    text-align: center;    /*keeping it center for smaller screen*/
  }
  #title {
    font-size: 30px;      /*keeping it smller px for smaller screen*/
    letter-spacing: 1px;
  }
  .para {
    font-size: 18px;    /*keep fobt size smaller  as the content is less in small devices*/
    letter-spacing: 1px;
  }

}



/* animations */
@keyframes moveInLeft {
  0% {
    opacity: 0;            /*keeping opacity 0  to make object invisible at starting point of animation*/
    transform: translateX(-100px);   /*keeping it translateX(-100) for  moving out from left side of the viewport*/
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;          /*keeping opacity 1  to make object visible at last point of animation*/
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;         /*keeping opacity 0  to make object invisible at starting point of animation*/
    transform: translateX(100px);    /*keeping it translateX(-100) for  moving out from left side of the viewport*/
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;           /*keeping opacity 1 to make object visible at last point of animation*/
    transform: translate(0);    
  }
}
@keyframes moveInButton {
  0% {
    opacity: 0;            /*keeping opacity 0  to make object invisible at first point of animation*/
    transform: translateY(30px);
  }
  100% {
    opacity: 1;              /*keeping opacity 1  to make object visible at last point of animation*/
    transform: translate(0);
  }
}
